name: test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
      - uses: pnpm/action-setup@v4
        with:
          version: 10.29.3
          run_install: |
            - args: [--frozen-lockfile]
      - run: pnpm -r test
